<table class="table-users">
    <tr class="head-table-users">
        <th class="head-table-cell" *ngFor="let columnName of columnNames; let i = index"
            (click)="sortColumn(columnName.toLowerCase())">{{columnName}}
            <span>{{isTrueSort[i]}}</span></th>
    </tr>
    <tr *ngFor="let user of usersList">
        <td class="table-cell">{{user.name}}</td>
        <td class="table-cell">{{user.gender}}</td>
        <td class="table-cell">{{user.phone}}</td>
        <td class="table-cell">{{user.email}}</td>
        <td class="table-cell">{{user.username}}</td>
        <td class="table-cell">{{user.registered}}</td>
        <td class="table-cell">{{user.city}}</td>
    </tr>
</table>